.loginContainer {
  max-width: 700px;
  margin: 4rem auto;
  background-color: #ffffff;
  padding: 3rem 2.5rem;
  border-radius: 30px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  direction: rtl;
  text-align: right;
  border-top: 6px solid #0094d9; /* פס כחול עליון */
  
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #0094d9;
  margin-bottom: 2rem;
  text-align: right;
}

.subtitle {
  font-size: 1.2rem;
  color: #333;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.userList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.userItem {
  background-color: #f4f9fb;
  border-radius: 12px;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease;
}

.userItem:hover {
  background-color: #e9f5fb;
}

.userItem div {
  margin: 0.3rem 0;
  font-size: 0.95rem;
  color: #444;
}

.userItem strong {
  color: #007bb8;
}

.label {
  font-weight: normal;
  color: #333;
}
