/* AddOrEditForm.module.css */

.formContainer {
  max-width: 380px;
  width: 100%;  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  font-family: 'Heebo', sans-serif;
  direction: rtl;
  max-height: 500px;
}

.formTitle {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #0094d9;
    text-align: center;

}

.formLabel {
  display: flex;
  flex-direction: row; /* טקסט ותיבה באותה שורה */
  align-items: center; /* יישור לגובה אחיד */
  justify-content: flex-start;
  gap: 1rem; /* רווח בין הטקסט לתיבה */
  margin-bottom: 1rem;
}

.formLabel > span {
  width: 60px; /* כל הטקסטים באותו רוחב */
  text-align: right;
}

.formInput,
.formSelect {
  flex: 1; /* שהתיבה תמלא את השורה */
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: 1rem;
    background-color: #f0f6ff;

}


.submitButton {
  width: 100%;
  background-color: #0094d9;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.submitButton:hover {
  background-color: #0077b6;
}
