.header {
  background: linear-gradient(90deg, #0094d9, #0094d9); /* כחול > סגול */
  color: white;
  
  text-align: center;
  padding: 2rem;
  border-radius: 0 0 20px 20px;
  font-family: 'Heebo', sans-serif;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.header h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);
}
